<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>$VAR[BackgroundColor]</backgroundcolor>
	<defaultcontrol always="false">9000</defaultcontrol>
	<onload>Skin.SetString(snapwindow, settings)</onload>
	<onload>Skin.SetString(snapico, home/snap/settings.jpg,0)</onload>
	<onload>Skin.SetString(snapname, Settings)</onload>
	<controls>
		<control type="group">
			<left>50</left>
			<animation type="WindowOpen">
				<effect type="zoom" center="auto" start="120" end="100" time="200" tween="cubic" easing="out" />
			</animation>
			<animation type="WindowClose">
				<effect type="zoom" center="auto" start="100" end="120" time="200" tween="cubic" easing="in"/>
				<effect type="fade" start="100" end="0" time="100" />
			</animation>

		<!--> Row 3 <!-->
			<control type="label">
				<top>690</top>
				<left>50</left>
				<width>300</width>
				<height>20</height>
				<label>$LOCALIZE[13000]</label>
				<align>left</align>
				<font>Setting</font>
				<textcolor>$VAR[White]</textcolor>
			</control>

			<control type="list" id="9002">
				<top>700</top>
				<width>100%</width>				
				<height>100%</height>
				<onup>9001</onup>
				<orientation>horizontal</orientation>
				<scrolltime>0</scrolltime>
				<viewtype>list</viewtype>
				<defaultcontrol>2</defaultcontrol>
				<itemlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
						</control>
					</control>
				</itemlayout>
				<focusedlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<animation effect="zoom" center="auto" start="100" end="105" time="200">Focus</animation>
						<animation effect="zoom" center="auto" start="105" end="100" time="200">Unfocus</animation>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
							<visible>!Control.HasFocus(9002)</visible>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[MaterialColorDark]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
							<visible>![Control.HasFocus(9002) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[MaterialColorDark]</textcolor>
							<scroll>true</scroll>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
							<visible>![Control.HasFocus(9002) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="image">
							<include>SelectionAnimation2</include>
							<top>-10</top>
							<left>-10</left>
							<width>270</width>
							<height>270</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="90">fo.png</texture>
							<visible>Control.HasFocus(9002)</visible>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[24001]</label>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<thumb>settings/apps.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[7]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>settings/filemanager.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13000]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>settings/settings.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[130]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>settings/sysinfo.png</icon>
					</item>
					<item id="99">
						<label>$LOCALIZE[31042]</label>
						<include>resetall</include>
						<icon>settings/console.png</icon>
					</item>
				</content>
			</control>

		<!--> Row 2 <!-->
			<control type="label">
				<top>370</top>
				<left>50</left>
				<width>300</width>
				<height>20</height>
				<label>$LOCALIZE[31053]</label>
				<align>left</align>
				<font>Setting</font>
				<textcolor>$VAR[White]</textcolor>
			</control>

			<control type="list" id="9001">
				<top>380</top>
				<width>100%</width>				
				<height>100%</height>
				<onup>9000</onup>
				<ondown>9002</ondown>
				<orientation>horizontal</orientation>
				<scrolltime>0</scrolltime>
				<viewtype>list</viewtype>
				<defaultcontrol>2</defaultcontrol>				
				<itemlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
						</control>
					</control>
				</itemlayout>
				<focusedlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<animation effect="zoom" center="auto" start="100" end="105" time="200">Focus</animation>
						<animation effect="zoom" center="auto" start="105" end="100" time="200">Unfocus</animation>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
							<visible>!Control.HasFocus(9001)</visible>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[MaterialColorDark]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
							<visible>![Control.HasFocus(9001) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[MaterialColorDark]</textcolor>
							<scroll>true</scroll>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
							<visible>![Control.HasFocus(9001) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="image">
							<include>SelectionAnimation2</include>
							<top>-10</top>
							<left>-10</left>
							<width>270</width>
							<height>270</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="90">fo.png</texture>
							<visible>Control.HasFocus(9001)</visible>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[31054]</label>
						<onclick>ActivateWindow(profiles)</onclick>
						<thumb>settings/popcont.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[31002]</label>
						<onclick>ActivateWindow(1103)</onclick>
						<thumb>settings/themes.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[14206]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<thumb>settings/home.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[31055]</label>
						<onclick condition="System.HasAddon(script.skinshortcuts)">RunScript(script.skinshortcuts,type=manage&amp;group=mainmenu)</onclick>
						<onclick condition="!System.HasAddon(script.skinshortcuts)">InstallAddon(script.skinshortcuts)</onclick>
						<visible>!Skin.HasSetting(KioskMode)</visible>
						<thumb>settings/widgets.png</thumb>
					</item>
				</content>
			</control>

		<!--> Row 1 <!-->
			<control type="label">
				<top>50</top>
				<left>50</left>
				<width>450</width>
				<height>20</height>
				<label>$LOCALIZE[31056]</label>
				<align>left</align>
				<font>Setting</font>
				<textcolor>$VAR[White]</textcolor>
			</control>

			<control type="list" id="9000">
				<top>60</top>
				<width>100%</width>				
				<height>100%</height>
				<ondown>9001</ondown>
				<orientation>horizontal</orientation>
				<scrolltime>0</scrolltime>
				<viewtype>list</viewtype>
				<defaultcontrol>2</defaultcontrol>
				<itemlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
						</control>
					</control>
				</itemlayout>
				<focusedlayout height="260" width="260">
					<control type="group">
						<top>20</top>
						<left>20</left>
						<animation effect="zoom" center="auto" start="100" end="105" time="200">Focus</animation>
						<animation effect="zoom" center="auto" start="105" end="100" time="200">Unfocus</animation>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="9">views/Card_bg_white.png</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<texture colordiffuse="$VAR[MaterialColorDark]" border="9">views/Card_bg_white.png</texture>
							<visible>!Control.HasFocus(9000)</visible>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[MaterialColorDark]">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="image">
							<width>250</width>
							<height>250</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[White]">$INFO[ListItem.Icon]</texture>
							<visible>![Control.HasFocus(9000) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[MaterialColorDark]</textcolor>
							<scroll>true</scroll>
						</control>
						<control type="label">
							<bottom>20</bottom>
							<width>250</width>
							<height>20</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<font>Tile</font>
							<textcolor>$VAR[White]</textcolor>
							<scroll>true</scroll>
							<visible>![Control.HasFocus(9000) + Skin.HasSetting(darkmode)]</visible>
						</control>
						<control type="image">
							<include>SelectionAnimation2</include>
							<top>-10</top>
							<left>-10</left>
							<width>270</width>
							<height>270</height>
							<texture colordiffuse="$VAR[SecondaryColor]" border="90">fo.png</texture>
							<visible>Control.HasFocus(9000)</visible>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[705]</label>
						<onclick>ActivateWindow(servicesettings)</onclick>
						<thumb>settings/net.png</thumb>
						<visible>System.InternetState</visible>
					</item>
					<item>
						<label>$LOCALIZE[705]</label>
						<onclick>ActivateWindow(servicesettings)</onclick>
						<thumb>settings/nonet.png</thumb>
						<visible>!System.InternetState</visible>
					</item>
					<item>
						<label>$LOCALIZE[31057]</label>
						<onclick>ActivateWindow(playersettings)</onclick>
						<thumb>settings/tv.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[14202]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<thumb>settings/library.png</thumb>
					</item>
					<item>
						<label>$LOCALIZE[14204]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>settings/PVR.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<onclick>ActivateWindow(gamesettings)</onclick>
						<icon>settings/Game.png</icon>
					</item>
				</content>
			</control>
		</control>

		<!--> Logo <!-->
		<include>Logo</include>
		
		<!-- Now Playing Music -->
		<include>PlayingMusicWindow</include>
	</controls>
</window>